body
{
	background-image: url("9.jpg");
	background-size: 100% 100%;
}

.link1
{
	background-color: lightblue;
	width: 170px;
	border: 15px solid #6080ff;
	padding: 20px;
	margin-left: 0px;
	margin-top: 10px;
}

h
{
	font-size: 95px;
	font-family: "Avanta Garde","Bahnschrift Light","Times New Roman";
	color: #393fb3;
}

.link2
{
	background-color: lightblue;
	width: 150px;
	border: 15px solid blue;
	padding: 20px;
	margin: 20px;
}
